<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Working through the directive spectrum</title>

	<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
<div ng-app="myApp">
	<div ng-controller="Ctrl">
		<input ng-model="search.name" required placeholder="Name"/>
		<input ng-model="search.number" required placeholder="Number"/>
		<p ng-repeat="user in users | userSearch:search">
			{{ user.firstName }} {{ user.lastName }} {{ user.number }}
		</p>
	</div>
</div>
</body>
</html>