<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Working through the directive spectrum</title>

	<script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="../../node_modules/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<link rel="stylesheet" href="animations.css">
</head>
<body>
	<div ng-app="myApp">
		<div ng-controller="Ctrl">
			<div style="repeat-container">
				<input ng-model="search.val" />
				<button ng-click="shuffle()">Shuffle</button>
				<div ng-repeat="el in arr | filter:search.val"
						 class="animate-container">
					<span>{{ el }}</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>